{% extends "registration/base.html" %}
{% load static %}
{% block content %}
 <h1>Change password</h1>
  <form method="post">
	{% csrf_token %}
	<label>Old password</label>
	{{ form.old_password }}
	<br>
	<br>
	<label>New password</label>
	{{ form.new_password1 }}
	<br>
	<br>
    <label>Confirm password</label>
	{{ form.new_password2 }}
	<br>
    {{ form.non_field_errors }}
	<br>
	<Button type="submit"><i class="fas fa-sign-in-alt fa-2x"></i></button>
</form>​​
<hr>
<span>Back to login</span><br><br>
<a href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt fa-2x"></i></a>
{% endblock %}
