{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<h1>Login</h1>
{% if validlink %}
<form method="post">
	{% csrf_token %}
	<label>New password </label>
	{{form.new_password1}}
	<br>
	<br>
	<label>Confirm password </label>
	{{form.new_password2}}
	<br>
	<br>
	<Button type="submit"><i class="fas fa-sign-in-alt fa-2x"></i></button>
</form>​​
{% else %}
  <div class="text-shadow-normal">
    <h2>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
    </h2>
  </div>
  {% endif %}

{% endblock %}